@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Heraclito";
  src: local("Heraclito"), url("../fonts/Heraclito-Regular.otf") format("opentype"), url("../fonts/Heraclito-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Heraclito";
  src: local("Heraclito"), url("../fonts/Heraclito-Medium.otf") format("opentype"), url("../fonts/Heraclito-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Heraclito";
  src: local("Heraclito"), url("../fonts/Heraclito-Bold.otf") format("opentype"), url("../fonts/Heraclito-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Heraclito";
  src: local("Heraclito"), url("../fonts/Heraclito-SemiBold.otf") format("opentype"), url("../fonts/Heraclito-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Heraclito";
  src: local("Heraclito"), url("../fonts/Heraclito-ExtraBold.otf") format("opentype"), url("../fonts/Heraclito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  border: none;
  list-style: none;
  background: none;
  text-decoration: none;
}

:root {
  --color-white: #ffffff;
  --color-text: #040404;
  --color-blue: #018BF6;
  --color-gray: #6C6E6F;
  font-size: 16px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }

}

body {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  color: var(--color-text);
  min-height: 100vh;
  font-family: "Heraclito", "serif";
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.container {
  display: flex;
  max-width: 1156px;
  width: 100%;
}

@media (max-width: 1204px) {
  .container {
    padding: 0 1.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

header,
section,
footer {
  display: flex;
  justify-content: center;
}

button:not(:disabled) {
  cursor: pointer;
}

.header {
  padding: 1.5rem 0;
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    gap: 1rem;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 800;
  font-size: 1rem;
  transition: 0.3s;
  color: var(--color-text);
}

.header__buttons {
  display: flex;
  gap: 3.5rem;
}

.header__button {
  display: flex;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  outline: 1px solid var(--color-gray);
  font-weight: 600;
  color: #535353;
}

.header__button:hover {
  outline: 2px solid var(--color-text);
}

.header__button_alt {
  background: linear-gradient(90deg, #2B445C, #5A8EC2);
  color: var(--color-white);
  outline: none;
}

.header__button_alt:hover {
  outline: none;
  background: #1471CE;
}

.hero {
  padding: 6rem 0;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

@media (max-width: 768px) {
  .hero .container {
    flex-direction: column;
  }
}

.hero__info {
  display: flex;
  flex-direction: column;
  max-width: 37rem;
}

.hero__info h1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 2rem;
}

.hero__info h1 strong {
  font-weight: 700;
  color: var(--color-blue);
}

@media (max-width: 1024px) {
  .hero__info h1 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .hero__info h1 {
    font-size: 3rem;
  }
}

.hero__info p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero__info a {
  display: flex;
  justify-content: center;
}

.items {
  background: #F0ECEC;
}

.items .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
}

@media (max-width: 1024px) {
  .items .container {
    gap: 4rem;
  }
}

@media (max-width: 575px) {
  .items .container {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.items__item {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
  padding-bottom: 4rem;
}

@media (max-width: 575px) {
  .items__item {
    padding: 2rem 0;
  }
}

.items__item-icon {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 4rem;
}

.items__item p {
  font-size: 1.25rem;
}

.footer {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 0;
}

.footer .container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  z-index: 1;
}

@media (max-width: 1024px) {
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 900px) {
  .footer .container {
    flex-direction: column;
    gap: 1rem;
  }
}

.footer__block {
  display: flex;
}

.footer__copyright {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}

.footer__buttons {
  display: flex;
  gap: 0.75rem;
}

.footer__button {
  display: flex;
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  outline: 1px solid var(--color-gray);
  color: var(--color-text);
  text-decoration: underline;
}

.footer__button:hover {
  outline: 2px solid var(--color-text);
}

.footer__button_alt {
  background: linear-gradient(90deg, #2B445C, #5A8EC2);
  color: var(--color-white);
  border: none;
}

.support {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-text);
  outline: 1px solid var(--color-gray);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.support:hover {
  outline: 2px solid var(--color-text);
}

.support img {
  margin-right: 1rem;
  transition: 0.3s;
}

.page {
  padding: 4rem 0;
  background: #F0ECEC;
  flex: 1;
}

.page .container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .page {
    padding: 2rem 0;
  }
}

.page__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.page__header h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.page__text {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  font-size: 0.875rem;
  gap: 1.5rem;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.breadcrumbs a {
  color: var(--color-text);
}

.breadcrumbs a:nth-child(1) {
  color: #545353;
}

/*# sourceMappingURL=style.css.map */


/* coin wallet */

.coin-wrap {
  background: #fff;
  width: calc(100% - 30px);
  max-width: 530px;
  border-radius: 12px;
  padding: 20px;
  height: 500px;
  max-height: 500px;
}



.jus-beet {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.coin-wrap .coin-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.coin-wrap h3 {
  font-size: 20px;
  font-weight: 300;
  color: #303030;
}

.chevron {
  padding-bottom: 40px;
}

#coinLog img {
  width: 128px;
  margin: 30px 0;
}

.coin-top span {
  font-size: 32px;
  color: #303030;
  font-weight: 600;
}

.coin-bottom {
  width: 100%;
}

.btn-coin {
  width: 100%;
  height: 44px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-bl {
  background-color: #018BF6;
  color: #fff;
  margin-bottom: 10px;
}

.btn-bl:hover {
  background-color: #203241;
}

.btn-wh {
  border: 1px solid #018BF6;
  color: #018BF6;
  background: #fff;
}

.btn-wh:hover {
  background: #018BF6;
  color: #fff;
}

.coin-bottom p {
  margin-top: 10px;
  padding: 0 50px;
  font-size: 14px;
  font-weight: 300;
  color: #303030;
  text-align: center;
}

@media (max-width: 768px) {
  .coin-bottom p {
    font-size: 14px;
    padding: 0 10px;
  }

  .list-bl {
    font-size: 16px !important;
  }
  .history-list div {
    max-width: 60% !important;}
    .history{
      padding: 6px !important;
    }
  .history-list div p {
    font-size: 12px !important;

  }
  .history-list div span{
    font-size: 14px !important;
  }
}

.coin-bottom p span {
  color: #018BF6;
}

.w-full {
  width: 100%;
}

.chevron {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.chevron img {
  width: 16px;
}

.chevron h4 {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.import span {
  font-size: 16px;
  color: #303030;

}

.input-wrapper {
  background: #F4EFEF;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.adress-input {
  width: 100% !important;
  background: #F4EFEF;
  border: none;
  outline: none;
  resize: none;
}

.danger {
  font-size: 16px;
  color: #FF0000 !important;
}

.w-6 {
  width: calc(100% - 80px);
}

.hidden {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.balance-main {
  text-align: center;
}

.delete-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.delete-alert {
  width: 300px;
  border-radius: 8px;
  padding-top: 10px;
  border: 2px solid #f4f4f4;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  z-index: 10;
}

.delete-alert h5 {
  font-size: 20px;
  color: #040404;
  margin-bottom: 10px;
}

.delete-alert p {
  font-size: 14px;
  color: #303030;
  margin-bottom: 20px;
}

.btn-delete-wrap {
  display: flex;
  align-items: center;
  border-top: 1px solid #f4f4f4;

}

.btn-delete-wrap div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
}

.btn-delete-wrap div:hover {
  cursor: pointer;
}

.btn-delete-wrap .btn-cancel {
  border-right: 1px solid #f4f4f4;
  color: #018BF6;
}

.btn-delete-wrap .btn-delete {
  color: #FF0000;
}

.delete-btn {
  margin: 0 auto;
  width: 180px;
  border: 1px solid #FF0000;
  border-radius: 8px;
  color: #FF0000;
  padding: 4px 12px;
  font-size: 14px;
  margin-bottom: 20px;
}

.delete-btn:hover {
  background: #FF0000;
  color: #fff;
}

.balance-main h4 {
  font-size: 24px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 8px;
}

.balance-main .amount {
  font-size: 28px;
  color: #018BF6;
  font-weight: 700;
  margin-bottom: 4px;
}

.balance-main .fil {
  font-size: 20px;
  color: #303030;
}

.amount-price {
  margin: 5px 0;
  display: flex;
  gap: 4px;
  justify-content: center;
}

.amount-price span {
  color: #1CB72C;
  font-size: 14px;

}

.amount-price .dolr {
  color: #018BF6;

}

.history {
  border-radius: 10px;
  background: #F4EFEF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  color: #303030;
  margin-bottom: 20px;
  padding: 14px;
}

.history-list {
  width: 100%;

  background: #fff;
  border-radius: 4px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
}

.history-list div {
max-width: 70%;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 6px;
  text-align: start;
}

.list-bl {
  color: #018BF6;
  font-weight: 600;
  font-size: 20px;
  flex-grow: 1;
  white-space: nowrap;
  text-align: end;
}


.history-list div p {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;

}

.history-list div span {
  font-size: 18px;
  font-weight: 600;
}




.sending-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sending-form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sending-form input {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 6px;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.p-2 {
  padding: 10px;
  border-radius: 8px;
}

#copy {
  margin-top: 60px;
}

#reciveSuc {
  font-size: 16px;
  color: #00FF38;
}